@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:600|Raleway');

html {
    font-family: unset  !important;
    font-weight: unset  !important;
    font-style:  unset  !important;
    font-size:   0.7em !important
}

body {
    font-family: Raleway,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important
}

h1, h2 {
    font-family: Montserrat !important
}
h3, h4, h5, h6 {
    font-family: Open Sans !important
}
.post-card-excerpt, .post-full-content {
    font-family: inherit !important
}
.post-card-excerpt h1,
.post-card-excerpt h2,
.post-card-excerpt h3,
.post-card-excerpt h4,
.post-card-excerpt h5,
.post-card-excerpt h6 {
    font-family: Open Sans !important
}
.ctsingle .post-card-excerpt h1 {
    font-size: 280%
}
.ctsingle .post-card-excerpt h2 {
    font-size: 200%
}
.ctsingle .post-card-excerpt h3 {
    font-size: 160%
}
.ctsingle .post-card-excerpt h4,
.ctsingle .post-card-excerpt h5,
.ctsingle .post-card-excerpt h6 {
    font-size: 120%
}
.ctsingle section.post-card-excerpt blockquote {
    color: #ee7f18;
}
a {
	color: #ee7f18;
}

main.site-main {
    background: url(/uploads/body.png) bottom right no-repeat;
}
.flex {
    display: flex;
}

/* SPECIFIC */

.ctsingle section.post-card-excerpt blockquote:nth-of-type(even) {
    color: #67c4d3;
}
.liste-mediations, .liste-documents {
	padding:      2rem;
	padding-left: 10%;
    margin:       1rem;
    margin-top:   2rem;
    margin-bottom:2rem;
	border: 2px dashed #67c4d3;
}
.liste-mediations ul,
.liste-documents  ul {
    padding: 0;
    margin: 0;
    color: #ee7f18;
    list-style: url("/uploads/icons/article_emoji.png") inside;
    display: inline-block
}
.liste-mediations h1,
.liste-mediations h2,
.liste-mediations h3 {
    font-family: Montserrat !important;
    margin: 0
}

/* HEADER */
.site-header {
    background: none !important;
}
.site-header-content {
    height: 320px !important;
}
.site-header:before {
    background: none !important;
}
img.site-logo {
    position: fixed;
    max-height: 300px !important;
    left: 50%;
    top: 0;
    transform: translate(-150px, 0);
}
h2.site-description {
    position: fixed;
    color: #000;
    font-size: 3rem;
    top: 200px
}

/* NAV */
/* Not hiding social media icons on small screens */
.social-link svg {
    fill: #333;
    height: 2rem !important
}
nav.site-nav {
    padding-left:  2em;
    padding-right: 2em;
    background-color: #fdfdfd !important;
    box-shadow: 0 0 25px #ccc
}
.nav li a {
    color: #333;
    font-size: 133% !important
}
.site-nav-right {
    display: inline !important
}

/* POST LIST */
.post-card-author a {
	color: #67c4d3;
    font-weight: bold
}
.post-card-meta.flex {
    justify-content: space-between;
}
.post-card-title {
    text-align: center;
}

.pagination, .pagination a {
    color: inherit
}

/* FOOTER */

/* put footer above site logo + colors */
.site-footer {
    z-index: 10;
    background: #e9edf0 !important;
    box-shadow: 0 0 20px inset #dadee0
}

.site-footer a {
    color: #333 !important;
}

footer .accueil {
    padding-right: 3em;
}

/* PAGE GENERAL */
.site-main {
    background-color: #f4f8fb !important
}
.ctsingle .post-card-title {
    padding-top:    1rem;
    padding-bottom: 3rem
}
/* avoid excess top margin when screen shrinked */
.post-feed {
    padding: 0 !important
}
/* make img takes whole space in pages */
body.ctsingle article.post img {
    display: block;
    margin: auto;
}

/* DISQUS */

#disqus_thread {
    margin: 0 2em 4em 2em;
    opacity:0.8;
}

/* MEMBRES */

/* TODO: not overflow on next member section */
/* NOTE: photos aspect ratio must be 2:3 (w=10em, h=15em) */
#photo-membre {
	/* 2:3 aspect ratio */
	width:  20rem;
	height: 30rem;
	display: block;
	margin: 5%;
	box-shadow: inset 0 0 8px 8px white;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#photo-membre ~ blockquote {
    overflow: auto
}
@media only screen and (max-width: 600px) {
  #photo-membre {
      float: initial;
      margin: auto
    }
}

.noemie {
	float: left;
	background-image: url(/membres/noemie.jpg);
}
.mathilde {
	float: right;
	background-image: url(/membres/mathilde.jpg);
}
.amelie {
	float: left;
	background-image: url(/membres/amelie.jpg);
}
.sibil {
	float: right;
	background-image: url(/membres/sibil.jpg);
}
.sylvain {
	float: left;
	background-image: url(/membres/sylvain.jpg);
}
.marielea {
	float: right;
	background-image: url(/membres/marielea.jpg);
}
.yannick {
	float: left;
	background-image: url(/membres/yannick.jpg);
}
